.list{
    list-style: none;
    padding-left: 0;
    display: flex;
}
.link{
    padding: 30px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-decoration: none;

    &:hover,
    &.active{
        color: #383bcf;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: #383bcf;
        }
    }
}