.about{
    &-container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        max-width: 1006px;
        color: #fff;
    }

    &-person{
        margin-right: 100px;
    }

    &-content{
        p{
            margin-bottom: 21px;
        }
        h2{
            margin-bottom: 31px;
        }
        blockquote{
            margin-top: 77px;
        }
    }
}