.col{
    &-2{
        flex: 0 0 16.66666%;
        padding-left: 15px;
        padding-right: 15px;
    }
    &-4{
        flex: 0 0 33.33333%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.offset{
    &-2{
        margin-left: 16.66666%;
    }
    &-4{
        margin-left: 33.33333%;
    }
}
