.quote{
    position: relative;
    &__text{
        position: relative;
        margin-bottom: 30px;
        svg{
            position: absolute;
            width: 76px;
            fill: #303133;
            left: 0;
            top: 0;
        }
        p{
            padding-left: 95px;
        }
    }

    &__user{
        padding-left: 95px;
    }
}