.scroll{
    color: #fff;
    &-down__btn{
        background-color: transparent;
        display: flex;
        align-items: center;
        a{
            color: #fff;
            display: inline-block;
            margin-right: 13px;
        }
        svg{
            fill: #fff;
            width: 20px;
            height: 20px;
        }

        @include tablets(){
            display: none;
        }
    }
}