.thumbs{
    display: flex;
    &__item{
        width: 178px;
        img {
            min-width: 100%;
            outline-offset: -3px;
        }
        &:hover img,
        &.active img{
            outline: 3px solid #DC9322;
        }

        @include desktop() {
            width: 120px;
        }
    }
}