.thumbs{
    display: flex;
    &__item{
        width: 178px;
        // box-sizing: border-box;
        img {
            min-width: 100%;
            outline-offset: -3px;
        }
        &:hover img{
            outline: 3px solid #DC9322;
        }
    }
}